BasedOnStyle: LLVM
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
AccessModifierOffset: -2
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
BreakBeforeBraces: Allman
NamespaceIndentation: All
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: Consecutive
AlignTrailingComments: true
SpacesInParentheses: false
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
InsertBraces: true
